<ion-content>
  <div>
    <form (ngSubmit)="createJupiterReturnChart()" #jupiterReturnChart="ngForm">
      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/jupiter_ret.png" class="left">
          </ion-col>
          <ion-col col-10>
            Create Jupiter Return Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/jupiter_ret.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row class="user-list">
          <ion-item>
            <ion-label>Select Name</ion-label>
            <ion-select name="persons" [(ngModel)]="selectedPerson" multiple="false" cancelText="cancle" okText="Okay!" required="required">
              <ion-option *ngFor="let person of personList" [value]="person.bd_id">{{person.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="user-list">
          <ion-item>
            <ion-label>Select Return Cycle</ion-label>
            <ion-select name="cycle" [(ngModel)]="returnCycle" multiple="false" cancelText="cancle" okText="Okay!" required="required">
              <ion-option value="1">Jupiter 1st Return Cycle</ion-option>
              <ion-option value="2">Jupiter 2nd Return Cycle</ion-option>
              <ion-option value="3">Jupiter 3rd Return Cycle</ion-option>
              <ion-option value="4">Jupiter 4th Return Cycle</ion-option>
              <ion-option value="5">Jupiter 5th Return Cycle</ion-option>
              <ion-option value="6">Jupiter 6th Return Cycle</ion-option>
              <ion-option value="7">Jupiter 7th Return Cycle</ion-option>
              <ion-option value="8">Jupiter 8th Return Cycle</ion-option>
              
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="submit" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="!jupiterReturnChart.form.valid">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>