<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Demo svg rendering.</h2>
  <img class="title-image" src="assets/images/tiger.svg" width="600" height="600" />

</ion-content>
