page-login {

.login-content {
background: #fff;

.logo-row {
padding-top: 10px;
padding-bottom: 10px;
}

.login-box {
background: #fff;

}

ion-row {
align-items: center;
text-align: center;
}

ion-item {
border-radius: 0px;
padding-left: 15px;
font-size: 0.9em;
margin-bottom: 10px;
border: 1px solid #ffffff;
box-shadow: 1px 2px 4px #000;
background:#fff;
}

.signup-col {
margin: 0px 16px 0px 16px;
padding-bottom: 20px;
}

.item-inner {
border-bottom-color: #ffffff !important;
box-shadow: none !important;
}

.submit-btn {
background: #2873f0;
border-radius: 30px !important;
border: 1px solid #ffffff;
}

.register-btn {
color: #2873f0;
font-size: 0.8em;
} 
}

.item-block.item.item-md.item-input.ng-untouched.ng-pristine.ng-valid.input-has-value,.list-md .item-input.ng-valid.input-has-value:last-child:not(.input-has-focus),.item-input.ng-valid.input-has-value{
border : 1px solid #2873F0;
box-shadow:none;

}
.item-block.item.item-md.item-input.ng-untouched.ng-pristine.ng-valid.input-has-value:last-child{
	margin-bottom: 0px;
}

.list-md .item-input.input-has-focus {


}

.login-content ion-item{
	height:30px;
}
.login-content .login-box {
	background: #fff;
	margin: 15% 0;
	box-shadow: 0px 0px 11px #eeeeee;
}
.list-md[inset] .item:first-child {
	border-top-width: 1px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.login-icon-user {
    font-size: 30px;
    position: absolute;
    top: 8px;
    z-index: 1;
    left: 25px;
}
.login-icon-user {
    font-size: 30px;
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 6%;
}

ion-item.my-item {
    padding-left: 30px;
    border-left: 10px solid red !important;
}
.list-ios[inset] > .item,.list-ios[inset] > .item:last-child{
	    border: 1px solid #000;
}
.login-btn{
	float: right;
	width:100%;
}
.forgot-pass{
	line-height: 50px;
}
.form-my-btn{
	border-radius: 0px;
}

.google{
	background-color: #d54834;
	color: #fff;
}
.logo{
	background-color: #000;
	text-align: center;
	padding: 10px 0px;
}
// ----------------android---------------
.text-input-md {
    margin: 13px 8px 13px 35px;
    padding: 0;
    width: calc(100% - 35px);
}
.login-icon-pass {
    font-size: 30px;
    position: relative;
    top:40px;
    bottom: 9px;
    z-index: 1;
    left: 5%;
}
.login-list {
    margin-top:20px;
}
.list-md {
    margin: 20px 0 0px;
}
@media screen and (min-width: 1248px) {
    .login-icon-pass{
        left: 3%;
    }
    .login-icon-user{   
        left: 3%;
    }
}
}