<ion-content padding>
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/images/gm-logo.png">
    </ion-col>
  </ion-row>
  <ion-row *ngIf="msg">
    {{msg}}
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list class="login-list">
            <ion-icon name="person" class="login-icon-user"></ion-icon>
            <ion-item class="my-item">
              <ion-input type="text" placeholder="Enter Username" name="username" [(ngModel)]="loginCredentials.username" required></ion-input>
            </ion-item>
            <ion-icon name="lock" class="login-icon-pass"></ion-icon>
            <ion-item class="my-item">
              <ion-input type="password" placeholder="Enter Password" name="password" [(ngModel)]="loginCredentials.password" required></ion-input>
            </ion-item>
            <ion-col col-12 class="forgot-pass" (click)="forget_password()">
              <a href="#"> Forgot Password ?</a>
            </ion-col>
          </ion-list>
          <ion-col col-12>
            <button ion-button class="login-btn form-my-btn" type="submit" [disabled]="!loginForm.form.valid">Login</button>
            <br>
          </ion-col>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col col-12>
        <button ion-button class="login-btn form-my-btn" (click)="create_account()">Sign Up</button>
        <br>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <button ion-button block ion-button icon-left class="form-my-btn facebook">
          <ion-icon name="logo-facebook"></ion-icon>facebook</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block ion-button icon-left class="form-my-btn google">
          <ion-icon name="logo-googleplus"></ion-icon>Google</button>
      </ion-col>
    </ion-row>

  </div>


</ion-content>