<ion-content>
  <div>
    <form (ngSubmit)="checkTransitNow()" #connectionTransitChart="ngForm">
      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/connection-chart.png" class="left">
          </ion-col>
          <ion-col col-10>
            Create Connection Transit Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/connection-chart.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Select 2 names to create Connection Transit chart
          </ion-col>
        </ion-row>
        <ion-row class="user-list">
          <ion-item>
            <ion-label>Select Name</ion-label>
            <ion-select name="persons" [(ngModel)]="selectedPerson" multiple="true" cancelText="Cancel" okText="Okay!" required="required">
              <ion-option *ngFor="let person of personList" [value]="person.bd_id">{{person.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-label>
            Select to create transit chart for now.
          </ion-label>
          <ion-checkbox color="light" class="transit_now_checkbox" [(ngModel)]="transitNow" name="transitnow"></ion-checkbox>
        </ion-row>
        <ion-row class="user-date">
          <ion-item>
            <ion-label>
              <ion-icon name="calendar"></ion-icon>Birth Date</ion-label>
            <ion-datetime name="birthDate" [(ngModel)]="birthDate" displayFormat="YYYY/MM/DD">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="time"></ion-icon>Birth Time</ion-label>
            <ion-datetime name="birthTime" [(ngModel)]="birthTime" displayFormat="H:mm" pickerFormat="H mm">
            </ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row class="submit" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="!selectedPerson || !transitNow && (!birthDate ||!birthTime)">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>