<ion-content padding>
  <div>
    <form (ngSubmit)="editUranusOppnChart()" #uranusReturnChart="ngForm">
      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/ura_opp_chart.png" class="left">
          </ion-col>
          <ion-col col-10>
            Edit Uranus Opposition Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/ura_opp_chart.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row class="user-list">
          <ion-item>
            <ion-label>Select Name</ion-label>
            <ion-select name="persons" [(ngModel)]="selectedPerson" multiple="false" cancelText="Cancel" okText="Okay!" required="required">
              <ion-option *ngFor="let person of personList" [value]="person.bd_id">{{person.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="submit" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="!uranusReturnChart.form.valid">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>