<ion-content>
  <div>
    <form (ngSubmit)="BusinessChart()" #businessChart="ngForm">

      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/bus_chart.png" class="left">
          </ion-col>
          <ion-col col-10>
            Create Business Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/bus_chart.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Select between 3 to 5 names to create business chart 
          </ion-col>
        </ion-row>
        <ion-row class="user-list">
          <ion-item>
            <ion-label>Select Name</ion-label>
            <ion-select name="persons" [(ngModel)]="selectedPerson" multiple="true" cancelText="Cancel" okText="Okay!" required="required">
              <ion-option *ngFor="let person of personList" [value]="person.bd_id">{{person.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
        <ion-row class="user-input">
          <ion-item>
            <ion-input type="text" name="chartName" [(ngModel)]="chartName" value="" placeholder="Enter Business Chart's Name" required="required"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="submit" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="!businessChart.form.valid">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>