<ion-content>
  <div>
    <form (ngSubmit)="checkCity()" #foundationForm="ngForm">
      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/fou_chart.png" class="left">
          </ion-col>
          <ion-col col-10>
            Edit Foundation Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/fou_chart.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row class="user-input">
          <ion-item>
            <ion-input type="text" name="firstName" [(ngModel)]="firstName" value="" placeholder="First Name" required="required"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="lastName" [(ngModel)]="lastName" value="" placeholder="Last Name" required="required"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="user-date">
          <ion-item>
            <ion-label>
              <ion-icon name="calendar"></ion-icon>Birth Date</ion-label>
            <ion-datetime (ionChange)="change()" name="birthDate" [(ngModel)]="birthDate" displayFormat="YYYY/MM/DD" required="required">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="time"></ion-icon>Birth Time</ion-label>
            <ion-datetime (ionChange)="change()" name="birthTime" [(ngModel)]="birthTime" displayFormat="H:mm" pickerFormat="H mm" required="required">
            </ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row class="user-city">
          <ion-item>
            <ion-label>Country</ion-label>
            <ion-select name="country" [(ngModel)]="code" multiple="false" cancelText="cancle" okText="Okay!" required="required" (ionChange)="change_country()">
              <ion-option *ngFor="let     country of countryList let i = index" [value]="i" [selected]="i ==countryy">{{country.country_title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input #input [formControl]='townControl' type="text" name="city" [(ngModel)]="city" placeholder="City/Town" required="required"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="state" [formControl]='stateControl' [(ngModel)]="state" placeholder="State/Region" required="required"></ion-input>
            <!-- <ion-input type="text" name="state" [(ngModel)]="state" placeholder="State/Region" required="required"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon class="ion-md-time" name="time"></ion-icon>
            </ion-label>
            <ion-input disabled="true" type="text" name="utc" [(ngModel)]="utc" placeholder="Birth Time UTC" required="required"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="(!utc || !firstName || !lastName)">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>