<ion-menu [content]="content" id="mainMenu" type="overlay">
	<ion-header>
		<ion-navbar>
			<ion-title> {{auth.currentUser.username}}</ion-title>
		</ion-navbar>
	</ion-header>

	<div class="home-menu">
		<ion-card (click)="loadChartsPage()">
			<ion-card-header>
				Chart Library
			</ion-card-header>
		</ion-card>
		<ion-card (click)="loadAddChartPage()">
			<ion-card-header>
				Add New Chart
			</ion-card-header>
		</ion-card>
		<ion-card (click)="loadAudioChartPage()">
			<ion-card-header>
				Audio & Video
			</ion-card-header>
		</ion-card>
		<ion-card (click)="loadMyAccountPage()">
			<ion-card-header>
				My Account
			</ion-card-header>
		</ion-card>
		<ion-card (click)="logout()">
			<ion-card-header>
				Sign Out
			</ion-card-header>
		</ion-card>

	</div>
</ion-menu>

<!-- the main content -->
<ion-content main #content>
	<ion-header>
		<ion-navbar color="dark">
			<button ion-button menuToggle="mainMenu">
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-col col-12 class="logo">
				<img src="assets/images/gm-logo.png">
			</ion-col>
		</ion-navbar>
	</ion-header>

	<div class="memberArea">
		<span class="memberLabel">Welcome</span>
		<span class="memberValue">{{auth.currentUser.username}}</span>
		<br>
		<span class="memberLabel">Member since : </span>
		<span class="memberValue">{{auth.currentUser.member_since}}</span>
		<br>
		<span [ngClass]="{'memberBasic' : (auth.currentUser.user_lvl_name=='Basic'), 'memberPro':(auth.currentUser.user_lvl_name=='Pro'),'memberAdvanced':(auth.currentUser.user_lvl_name=='Advanced')}">
			<b>{{auth.currentUser.user_lvl_name}} Member</b>
		</span>
	</div>

	<ion-scroll class="chartScroll" scrollX="true" scrollY="true" zoom="true">
		<div>
			<iframe [style.width.%]="chartWidth" [hidden]="!svgSource" [src]='svgSource | safe'></iframe>
		</div>
	</ion-scroll>


	<div class="footer">
		<ion-range min="100" max="250" step="10" [(ngModel)]="chartWidth">
			<img class="range-icon" (click)="zoomOut()" range-left src="assets/icon/zoom-out.png" />
			<img class="range-icon" (click)="zoomIn()" range-right src="assets/icon/zoom-in.png" />
		</ion-range>
	</div>
</ion-content>