page-home {
    .icon.icon-md {
        font-size: 22px;
        color: #ffa500;
        font-weight: 700;
       }
       .home-menu {
            margin-top: 66px;
    }
    .memberArea {
        padding:10px;
        margin-top:70px;
        background-color:#eff0f1;
        font-family: arial;
        font-size: 13px;
        line-height: 1.5em;
    }

    .memberBasic {
        color:#009245;
    }

    .memberPro {
        color:#d8b418;
    }

    .memberAdvanced {
        color:#0071BC;
    }

    .memberLabel {
        color:#484648;
    }

    .memberValue {
        color:#000;
    }

    iframe {
        height: 100vh;
        width: 100%;
        border: none;
        overflow: hidden;
    }
    ion-scroll {
        white-space: nowrap;
        height: 80vh;
    }
    .range-icon {
        width:35px;
    }


    .chartScroll {
        white-space: nowrap;
        height: 76vh;
    }

    .menu-list {
        white-space: nowrap;
        height: 80vh;
    }


    @media screen and (max-height: 800px){
    .chartScroll {
        white-space: nowrap;
        height: 50vh;
    }

    .menu-list {
        white-space: nowrap;
        height: 80vh;
    }
}
    @media screen and (max-height: 480px){
        .chartScroll {
            white-space: nowrap;
            height: 57vh;
        }
    
        .menu-list {
            white-space: nowrap;
            height: 65vh;
        }
    }
    @media screen and (min-height: 765px){
        .chartScroll {
            white-space: nowrap;
            height: 74vh;
        }
    
        .menu-list {
            white-space: nowrap;
            height: 80vh;
        }
    }

    @media screen and (min-height: 1000px){
        .chartScroll {
            white-space: nowrap;
            height: 78vh;
        }
    
        .menu-list {
            white-space: nowrap;
            height: 80vh;
        }
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 99999;

    }

}
