<ion-split-pane [when]="setSplitPane()">
	<!-- <ion-split-pane> -->
	<!--  our side menu  -->
	<ion-menu [content]="content" id="chartsMenu" type="overlay">
		<ion-header>
			<ion-navbar>
				<ion-grid>
					<ion-row>
						<ion-col col-12>
							<ion-title text-center> My Chart Library
							</ion-title>
							<ion-icon class="more-btn" name="md-arrow-back" (click)="loadHomePage()"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-navbar>
		</ion-header>
		<div>
			<ion-col col-10 style="float: left;">
			</ion-col>
			<ion-col col-2 style="float: left;">
				<ion-icon name="briefcase" class="my-briefcase"></ion-icon>
			</ion-col>
			<div class="chart_list">
				<ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)">
				</ion-searchbar>
				<ion-scroll scrollY="true" class="menu-list">
					<ion-card *ngFor='let single_chart of searchChartList'>
						<div (click)="getChart(single_chart.client_id,single_chart.cs_id,single_chart.cs_type)">
							<ion-card-content>
								{{single_chart.cs_name}}
							</ion-card-content>
							<ion-card-header>
								{{single_chart.svc_full_name}}
							</ion-card-header>
						</div>
					</ion-card>
					<!-- <label *ngIf="noSearchResults">No charts found!</label> -->
				</ion-scroll>
			</div>
		</div>
	</ion-menu>

	<!-- the main content -->
	<ion-content main #content>
		<ion-header>
			<ion-navbar>
				<button ion-button menuToggle="chartsMenu">
					<ion-icon name="menu"></ion-icon>
				</button>
				<ion-grid>
					<ion-row>
						<ion-col col-12>
							<ion-icon name="resize" class="resize-btn" (click)="resize()"></ion-icon>
							<button ion-button class="right-info-btn" menuToggle="chartViews">
								<ion-icon name="menu"></ion-icon>
							</button>
							<ion-icon name="log-out" ios="ios-log-out" class="right-info-btn" (click)="logout()"></ion-icon>
							<!-- <button ion-button (click)="addChart()">Add</button> -->
							<ion-icon name="ios-add-circle-outline" ios="ios-add-circle-outline" class="left-info-btn" (click)="addChart()"></ion-icon>
							<!-- <img  (click)="addChart()" src="/assets/images/sidebar/rounded-add-button.png" /> -->
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-navbar>
		</ion-header>
		<ion-scroll class="chartScroll" scrollX="true" scrollY="true" zoom="true">
			<div class="button_wrapper chart_option_buttons">

				<ion-icon *ngIf="fav_id==currentChart" name="md-star" (click)="alreadyFavourite()"></ion-icon>

				<ion-icon *ngIf="fav_id!=currentChart" name="md-star-outline" (click)="setFavourite()"></ion-icon>

				<!-- <ion-icon md="md-clipboard" (click)="notes()"></ion-icon>
				<ion-icon ios="ios-create" md="md-create" (click)="editChart()"></ion-icon> -->
				<ion-icon ios="md-clipboard" md="md-clipboard" (click)="notes()"></ion-icon>
				<ion-icon ios="md-create" md="md-create" (click)="editChart()"></ion-icon>
			</div>
			<div>
				<iframe [style.width.%]="chartWidth" [hidden]="!svgSource" [src]='svgSource | safe'></iframe>
			</div>
		</ion-scroll>

		<div class="footer">
			<ion-range min="100" max="250" step="10" [(ngModel)]="chartWidth" class="zoom-select">
				<img class="range-icon" (click)="zoomOut()" range-left src="assets/icon/zoom-out.png" />
				<img class="range-icon" (click)="zoomIn()" range-right src="assets/icon/zoom-in.png" />
			</ion-range>
		</div>
	</ion-content>
</ion-split-pane>

<ion-menu id="chartViews" [content]="content" side="right" type="overlay">
	<ion-header>
		<ion-navbar>
			<ion-title text-center> Chart Views </ion-title>
		</ion-navbar>
		<ion-scroll scrollY="true" class="menu-list">
			<ion-card *ngFor='let single_icon of chartOptions'>
				<div *ngIf="single_icon.vw_id !='inteFound'" (click)="chartOptionChange(currentChart,single_icon.vw_ver,single_icon.vw_chart,single_icon.vw_level)"
				 [class]='single_icon.vw_button'>
					<ion-card-header class="view_menu">
						{{single_icon.vw_name}}
					</ion-card-header>
				</div>
			</ion-card>
		</ion-scroll>
	</ion-header>
</ion-menu>