page-add-chart {
    ion-avatar img,
    ion-thumbnail img {
        display: block;
        width: 30px;
        padding: 0px;
    }
    .chart-btn img {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
    .chart-btn {
        width: 100%;
        float: left;
        position: relative;
    }
    .chart-btn img:first-child {
        position: absolute;
        left: 9px;
    }
    .chart-btn img:last-child {
        position: absolute;
        right: 9px;
    }
    span.button-inner img:first-child {
    margin-top: 0px;
}

span.button-inner img:last-child {
    margin-top: -7px;
}

.col-50 {
    width:46%;
    float:left;
    margin-right:12px;
}

.animal-group {
    clear:both;
}

.group-title {
    text-align:center;
}

    
    @media screen and (min-width:600px) {
        .chart-btn {
           
            float: left;
            position: relative;
        }
    }

        @media screen and (max-width:600px) {

        .col-50 {
                width:100%;
                margin-top:20px;
            }
    }
}
