<ion-header>
    <ion-navbar>
        <ion-title>Add Chart</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="col-100">
        <div class="col-50">
            <h3 class="group-title"> Foundation Chart Group </h3>
            <button ion-button class="chart-btn" style="background-color:#516703" (click)="foundationChartForm()">
                <img src="assets/images/fou_chart.png"> Foundation Chart
                <img src="assets/images/fou_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#7A9608" (click)="foundationChartTransitForm()">
                <img src="assets/images/fun_tra_chart.png"> Foundation Transit Chart
                <img src="assets/images/fun_tra_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#4C7DA5" (click)="dreamChartForm()">
                <img src="assets/images/dre_chart.png"> Dream Chart
                <img src="assets/images/dre_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#67AACE" (click)="dreamTransitChartForm()">
                <img src="assets/images/dre_tra_chart.png"> Dream Transit Chart
                <img src="assets/images/dre_tra_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#508BA5" (click)="dreamCompositChartForm()">
                <img src="assets/images/dre_com_chart.png"> Dream Composit Chart
                <img src="assets/images/dre_com_chart.png">
            </button>

            <h3 class="group-title"> Connection Chart Group </h3>
            <button ion-button class="chart-btn" style="background-color:#6F8E9B" (click)="connectionChartForm()">
                <img src="assets/images/connection-chart.png"> Connection Chart
                <img src="assets/images/connection-chart.png">
            </button>

            <!-- <button ion-button class="chart-btn" style="background-color:#6F8E9B" (click)="connectionTransitChartForm()">
                <img src="assets/images/connection-chart.png"> Connection Transit Chart
                <img src="assets/images/connection-chart.png">
            </button> -->

            <button ion-button class="chart-btn" style="background-color:#78C5F9" (click)="FamilyChartForm()">
                <img src="assets/images/fam_chart.png"> Family Chart
                <img src="assets/images/fam_chart.png">
            </button>

            <h3 class="group-title"> Business Chart Group </h3>
            <button ion-button class="chart-btn" style="background-color:#1A91D3" (click)="BusinessChartForm()">
                <img src="assets/images/bus_chart.png"> Business Chart
                <img src="assets/images/bus_chart.png">
            </button>
        </div>


        <div class="col-50">
            <h3 class="group-title"> Cycle Chart Group </h3>
            <button ion-button class="chart-btn" style="background-color:#9494B8" (click)="LunarReturnChartForm()">
                <img src="assets/images/lunar_return_chart.png">Lunar Return Chart
                <img src="assets/images/lunar_return_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#F7B82D" (click)="SolarReturnChartForm()">
                <img src="assets/images/sol_ret_chart.png"> Solar Return Chart
                <img src="assets/images/sol_ret_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#77B300" (click)="VenusReturnChartForm()">
                <img src="assets/images/ven_ret.png"> Venus Return Chart
                <img src="assets/images/ven_ret.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#F80000" (click)="MarsReturnChartForm()">
                <img src="assets/images/mars_return_chart.png"> Mars Return Chart
                <img src="assets/images/mars_return_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#0040ff" (click)="JupitarReturnChartForm()">
                <img src="assets/images/jupiter_ret.png"> Jupiter Return Chart
                <img src="assets/images/jupiter_ret.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#335089" (click)="SaturnReturnChartForm()">
                <img src="assets/images/sat_ret_chart.png"> Saturn Return Chart
                <img src="assets/images/sat_ret_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#223A3A" (click)="ChironReturnChartForm()">
                <img src="assets/images/chi_ret_chart.png"> Chiron Return Chart
                <img src="assets/images/chi_ret_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#76966B" (click)="UranusOppnChartForm()">
                <img src="assets/images/ura_opp_chart.png"> Uranus Opposition Chart
                <img src="assets/images/ura_opp_chart.png">
            </button>

            <button ion-button class="chart-btn" style="background-color:#896994" (click)="UranusReturnChartForm()">
                <img src="assets/images/ura_opp_chart.png"> Uranus Return Chart
                <img src="assets/images/ura_opp_chart.png">
            </button>
        </div>
    </div>
    <div class="col-100 animal-group">
        <h3 class="group-title"> Animal Chart Group </h3>
        <div class="col-50">
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="CatChartForm()">
                <img src="assets/images/animal_chart_cat_logo.png"> Animal Chart-Cat
                <img src="assets/images/animal_chart_cat_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="DogChartForm()">
                <img src="assets/images/animal_chart_dog_logo.png"> Animal Chart-Dog
                <img src="assets/images/animal_chart_dog_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="HorseChartForm()">
                <img src="assets/images/animal_chart_horse_logo.png"> Animal Chart-Horse
                <img src="assets/images/animal_chart_horse_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="RabbitChartForm()">
                <img src="assets/images/animal_chart_rabbit_logo.png"> Animal Chart-Rabbit
                <img src="assets/images/animal_chart_rabbit_logo.png">
            </button>
        </div>

        <div class="col-50">
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="CatTransitChartForm()">
                <img src="assets/images/animal_chart_cat_logo.png"> Animal Transit Chart-Cat
                <img src="assets/images/animal_chart_cat_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="DogTransitChartForm()">
                <img src="assets/images/animal_chart_dog_logo.png"> Animal Transit Chart-Dog
                <img src="assets/images/animal_chart_dog_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="HorseTransitChartForm()">
                <img src="assets/images/animal_chart_horse_logo.png"> Animal Transit Chart-Horse
                <img src="assets/images/animal_chart_horse_logo.png">
            </button>
            <button ion-button class="chart-btn" style="background-color:#82450D" (click)="RabbitTransitChartForm()">
                <img src="assets/images/animal_chart_rabbit_logo.png"> Animal Transit Chart-Rabbit
                <img src="assets/images/animal_chart_rabbit_logo.png">
            </button>
        </div>
    </div>

</ion-content>