@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);

body{
    background:#FFF; 
    margin-bottom: 25px;
}
.container {
        max-width: 960px;
}
.white-background{
    background-color: rgba(122, 122, 122, 0.06);
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}
.header-image{ 
	background-color:#39D8D8;
	background-image:-webkit-gradient(radial, center top, 0, center top, 600, color-stop(0, rgba(9, 238, 248, 0)), color-stop(1, #39D8D8));
	background-image:-webkit-radial-gradient(top center,ellipse farthest-side,rgba(9, 238, 248, 0),#39D8D8);
	background-image:   -moz-radial-gradient(top center,ellipse farthest-side,rgba(9, 238, 248, 0),#39D8D8);
	background-image:    -ms-radial-gradient(top center,ellipse farthest-side,rgba(9, 238, 248, 0),#39D8D8); 
	background-image:     -o-radial-gradient(top center,ellipse farthest-side,rgba(9, 238, 248, 0),#39D8D8);
	background-image:        radial-gradient(top center,ellipse farthest-side,rgba(9, 238, 248, 0),#39D8D8);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=rgba(9, 238, 248, 0), endColorstr=#39D8D8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=rgba(9, 238, 248, 0), endColorstr=#39D8D8)";
	
}
.header-inner{
background-image: url(/assets/img/background.png);
background-repeat: no-repeat;
background-position: top center;

}
#header .container{
	background:none;
}

.container{

	background:#fff;

}
.border-none-left-right{ 
    border-right:none;
    border-left:none;
}
.radius-none{
    border-top-left-radius:0px; 
    border-top-right-radius:0px; 
    border-bottom-left-radius:0px; 
    border-bottom-right-radius:0px; 
}
.nav>li{

}
.nav>li>a {
    position: relative;
    display: block;
    padding-top:14px;
    padding-bottom:6px;
    padding-left:17px;
    padding-left:17px;
    padding-right:22px;
    text-transform:uppercase;
    font-size:14px;
    color:#fff; 
    font-family: 'Comfortaa', cursive; 
	
}
.nav>li {
	height:47px;
}

.navbar-default {
	background-color: #39D8D8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.nav .active{
	
background:rgba(255, 255, 255, 0.25); 

}

.no-padding{
    padding:0px;
}
.padding15{
    padding:15px;
}
.margin-bottom15{
    margin-bottom:10px;
}
.logintext{
    margin-top:5px;
    font-size:13px;
}
#header{
    padding-top:20px;
}
#logo{
    margin-top: 33px;
    margin-bottom: 44px;
    margin-left: 14px;
}

.line {
    background: url(/assets/img/icons/line.gif) repeat-x;
    height: 1px;
    margin: 4px 0;
    clear: both;
}

.vn_table { 
    width:100%; 
    padding:1px;
    margin-bottom:5px; 
    border-spacing:0; 
    border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
    color:#545454; 
}
.vn_table, td, th { 
    vertical-align:middle; 
}
.vn_table th { 
    padding: 10px;
    color: #FFFFFF;
    background-color: #39D8D8;
    border-color: transparent;
    border-bottom: 3px solid #3CC9C9;
    font-size: 13px;
}
.vn_table th:first-child {
    border-top-left-radius:5px; -webkit-border-top-left-radius:5px; -moz-border-radius-topleft:5px;
}
.vn_table th:last-child {
    border-top-right-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topright:5px;
}
.vn_table a { 
    color: rgb(48, 48, 48);
}
.vn_table tr { 
    color: #3F3F3F; 
    background-color: rgba(0, 194, 255, 0.18);
    border-color: transparent;
    border-bottom: 3px solid rgba(18, 217, 255, 0.1);
}
.vn_table td {
    padding:8px;
    border-top:1px solid #ccc;  
    text-align:center; 
}
.vn_table tr:hover { 
    background-color:#fff; 
}
.cntSeparator 	{ font-size:54px; margin:-10px 2px 0px 2px; color:#000000; }

#cd				{ width:310px; margin:0px auto; }

.line2 {
    background: url('/assets/img/icons/line.gif') repeat-x scroll 0% 0% transparent;
    height: 1px;
    margin: 4px 0px;
    clear: both;
}
#footer-inner{
background-image: url(/assets/img/background.png);
background-repeat: no-repeat;
background-position: top center;
}
footer a{
color:#fff;
} 
footer{
	font-family: 'Comfortaa', cursive;
    font-size:13px; 
	color:#fff;
	background-color:#06F5EB;
	background-image:-webkit-gradient(radial, center top, 0, center top, 600, color-stop(0, #48eed4), color-stop(1, #06F5EB));
	background-image:-webkit-radial-gradient(top center,ellipse farthest-side,#48eed4,#06F5EB);
	background-image:   -moz-radial-gradient(top center,ellipse farthest-side,#48eed4,#06F5EB);
	background-image:    -ms-radial-gradient(top center,ellipse farthest-side,#48eed4,#06F5EB);
	background-image:     -o-radial-gradient(top center,ellipse farthest-side,#48eed4,#06F5EB);
	background-image:        radial-gradient(top center,ellipse farthest-side,#48eed4,#06F5EB);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#48eed4, endColorstr=#06F5EB);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#48eed4, endColorstr=#06F5EB)";
	
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
footer h4{
    font-size:15px;
color: #fff;
font-family: 'Comfortaa', cursive;
}

.prize-pics		{ float:left; margin-left:10px; width:220px; }

.conteiner-b	{ margin-top:15px; }.conteiner-b a	{ text-decoration:none; }
.prize-pics		{ float:left; margin-left:10px; width:220px; }
.prize-title	{ 

    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    background: #00D6FF;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
}
.prize-pics table	{ width:340px; order:0px; border-collapse:collapse; }
.prize-pics td	{ height:25px; border-top:1px dotted #545454; }
.prize-pics img	{ border:1px dotted #545454; }

.slider{
    width:605px;
}

a.tooltip_tip {outline:none; }
a.tooltip_tip strong {line-height:30px;}
a.tooltip_tip:hover {text-decoration:none;} 
a.tooltip_tip span {
    z-index:10;
    display:none; 
    padding:5px;
    margin-top:-30px; 
    margin-left:28px;
    width:240px; 
    line-height:16px;
}
a.tooltip_tip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip_tip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

.bs-callout-info {
    border-left-color: rgba(0, 194, 255, 0.78);
}
.bs-callout {
    padding-left:15px;
    padding-top:5px;
    padding-bottom:15px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-color: rgba(0, 194, 255, 0.78);
    border-left-width: 5px;
    border-radius: 3px;
}
#random-user{
    color:#FF5C00;
}

.imgside {
    border : #D6D6D6 solid 1px;
    padding : 3px; 
    margin-right : 15px;
    margin-bottom: 15px;
    background-color : #EAEAEA;
    float : left;
    border-radius : 2px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-bottom: 3px solid rgba(17, 179, 166, 0.28);
}
.tw_bullet{
    font-size:19px;
    color:#fff; 
    font-family: 'Comfortaa', cursive; 
}

.submit {
	font-size:15px;
	font-family : 'Cuprum', sans-serif;
	font-weight:normal;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	padding:9px 18px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f9f9f9), color-stop(100%, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	background:-ms-linear-gradient( top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	color:#666666;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #e9e9e9), color-stop(100%, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	background:-ms-linear-gradient( top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.submit:active {
	position:relative;
	top:1px;
}

#tabs {
	    border: 1px solid #DEDEDE;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    height: 100%;
		overflow: hidden;
    }
	.tabs-content {
		padding: 15px;   
		overflow: hidden;
		top:15px;
		border-left: 1px solid #DEDEDE;
		border-right: 1px solid #DEDEDE;
		border-bottom: 1px solid #DEDEDE;
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius: 4px; 
	}
	.tabs {
		overflow: hidden;  
		background: #e1e1e1; 
		background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); 
		-moz-border-radius: 4px 4px 0 0; 
		-webkit-border-radius: 4px 4px 0 0; 
		border-radius: 4px 4px 0 0; 
		-webkit-box-shadow: 0 1px 0 #FFF inset; 
		-moz-box-shadow: 0 1px 0 #FFF inset; 
		box-shadow: 0 1px 0 #FFF inset;
	}
	.tabs a {
		display: block; 
		float: left; 
		font: 15px/35px 'Cuprum', sans-serif; 
		padding: 0 20px 0 20px; 
		color: #888888; 
		text-shadow: 0 1px 0 #FFF;
		border-left: solid 1px rgba(0,0,0,0.05);
		border-right: solid 1px rgba(255,255,255,0.7);
		position: relative;
		overflow: hidden;
	}
	.tabs a:first-child {
		border-left-width: 0;
	}
	.tabs a:last-child {
		border-right-width: 0;
	}
	.tabs a:after {
		position: absolute;
		top: 0;
		left: 10px;
		line-height: 21px;
		font-size: 10px;
		width: 21px; 
		text-align: center; 
		margin: 7px 10px 5px 0; 
		background: #000; 
		font-size: 12px; 
		-moz-border-radius: 21px; 
		-webkit-border-radius: 21px; 
		border-radius: 21px; 
		background: #bdbdbd; 
		-webkit-box-shadow: 0 1px 0 0 #FFF, 0 1px 0 0 rgba(0,0,0,0.25) inset; 
		-moz-box-shadow: 0 1px 0 0 #FFF, 0 1px 0 0 rgba(0,0,0,0.25) inset; 
		box-shadow: 0 1px 0 0 #FFF, 0 1px 0 0 rgba(0,0,0,0.25) inset; 
		text-shadow: 0 1px 0 #999; 
		color: #ffffff;
	}
	.tabs a:hover {
		background: #FFF;
		border-left-color: #CCC;
	}
	.tabs a:hover:after {
		background: #038bd5; 
		text-shadow: 0 1px 0 #096c9e; 
		-webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.45), 0 1px 0 0 rgba(0, 0, 0, 0.25) inset, 0 0 5px 0 rgba(0,148,255,0.85); 
		-moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.45), 0 1px 0 0 rgba(0, 0, 0, 0.25) inset, 0 0 5px 0 rgba(0,148,255,0.85); 
		box-shadow: 0 1px 0 0 rgba(255,255,255,0.45), 0 1px 0 0 rgba(0, 0, 0, 0.25) inset, 0 0 5px 0 rgba(0,148,255,0.85)
	}
	.tabs a:hover + .tabs-content {
		display: block;
	}
	.tabs-content:hover {
		display: block;
	}
.boxhead span{color:#fff;font-weight:400;padding:0;font-family:'Cuprum',sans-serif;font-size:15px;text-shadow:0 -1px 0 #241B15}
#userStats2{float: right;
display: block;
position: relative;
width: 384px;
height: 192px;
padding: -2px;
word-break: break-all;
padding-left: 24px;
background: #EBEBEB;
overflow: hidden;
box-sizing: border-box;
-moz-box-sizing: border-box;
}

#userStats{display:block;width: 605px;padding: 30px;}#userStats .pic{float:left;display:block;margin-right: 6px;}#userStats .pic a img{padding:7px;background:#fff;border:1px solid #ccc}#userStats .data{float: right;display:block;position:relative;width: 385px;height: 185px;padding: -2px;padding-left: 24px;word-break: break-all;background: #EBEBEB;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box}#userStats .data h1{font-family:'Cuprum',sans-serif;font-size:17px;color:#474747;line-height:1em;text-shadow:0 1px 1px #fff}#userStats .data h3{color:#666;line-height:.9em;margin-bottom:5px}#userStats .data h4{font-size:1.2em;line-height:1.3em}#userStats .data .socialMediaLinks{position:absolute;right:6px;top:8px}#userStats .data .socialMediaLinks a img{margin-right:5px}#userStats .data .sep{clear:both;margin-top: 6px;width: 430px;/* height: 4px; */border-bottom:1px solid #ccc;margin-bottom:0}#userStats .data ul.numbers{list-style:none;/* width: 358px; */margin-top:0;border-top:1px solid #fff;color:#676767}#userStats .data ul.numbers li{width: 90px;float: right;display:block;padding-left: 8px;height: 73px;border-right:1px dotted #bbb}#userStats .data ul.numbers li strong{color:#434343;display:block;font-size:11px;line-height:1.1em}

.header_top_navigation{
background-color: rgba(255, 255, 255, 0.21);
padding:7px;
height:35px;
}
.header_top_navigation .container{
background:none;
}
.htn li {
float:left;
margin-right:15px;
}
.htn li a {
font-size: 14px;
color: #fff;
font-family: 'Comfortaa', cursive;
}


a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
z-index: 2;
color: #3F3F3F;
background-color: rgba(0, 194, 255, 0.18);
border-color: transparent;
border-bottom: 3px solid rgba(18, 217, 255, 0.1);
}