page-animal-cat-chart {
    .right,
    .left {
        vertical-align: middle;
    }
    .my-heading {
        background-color: #82450D;
        vertical-align: middle;
        line-height: 100px;
        text-align: center;
        font-size: xx-large;
        color: #fff;
    }
    .user-input .item.item-block,
    .user-date .item.item-block,
    .user-city .item.item-block {
        padding: 0px 20px;
    }
    .user-input {
        margin: 20px 0px;
    }
    .user-input .item-inner {
        padding: 0px !important;
    }
    .user-date .item-inner {
        padding: 0px !important;
        border: none !important;
        margin-bottom: 10px !important;
    }
    .user-input .item-inner,
    .user-date .item-inner {
        padding: 0px !important;
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 10px !important;
    }
    .user-date .label.label-md {
        font-size: 22px;
    }
    .user-date .ion-md-calendar,
    .user-date .ion-md-time {
        margin-right: 10px;
        color: #09d109;
    }
    .user-input,
    .user-date,
    .user-city {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 20px;
    }
    .submit {
        display: block !important
    }
    .submit .button {
        float: right;
    }
    @media screen and (max-width:600px) {
        .my-heading {
            line-height: 45px;
            font-size: 1em !important;
            height:50px;
            
        }

         .user-date .label.label-md {
        font-size: 1em;
    }
    }
}
