page-audio-video {
    
        iframe {
            height: 100vh;
            width: 100%;
            border: none;
            overflow: hidden;
        }
        .my-content {
            margin-top: 55px !important;
        }
        .my-grid.grid {
            padding: 0;
        }
        .my-heasder{
            background-color:#ccc;
        }
        .border-left {
        border-right: 1px solid #ccc !important;
        }
        .more-btn {
        position: absolute;
        right: 0;
        top: 13px;
        color: #ffa500;
        font-size: 1.2em;
        
        }
        .resize-btn {
            float: left;
            color: #ffa500;
        }
        .right-info-btn {
            display: inline-block;
            float: right;
            margin-right: 0px;
            color: #ffa500;
        }
        .left-info-btn {
            display: inline-block;
            float: left;
            margin-left: 20px;
            color: #ffa500;
            font-size: 1.2em;
             font-weight: 700;
        }
        .my-briefcase {
            position: absolute;
            top: 25px;
            color: #ffa500;
        }
        .time {
            padding: 10px 0px 0px 15px;
            font-size: 1rem;
            line-height: 1.5;
            color: #16b3a6;
        }
        .button_wrapper {
        .icon.icon-md{
                font-size: 40px;
                margin-right: 10px;
            }
            
            text-align: right;
        }
    
        button.my-btn {
            width: 23px;
            border-radius: 50%;
        }
        .card-content-md {
            padding: 5px 10px;
        }
        .card-header-md {
            padding: 5px 10px;
        }
        .red{
            background-color:red !important;
        }
        .orange{
            background-color:orange !important;
        }
        .green{
            background-color:green !important;
        }
        
        .sidebar {
            position: fixed;
            left: 0;
            width: 50px;
            height: 100vh;
            background-color: rgba(0,0,0,0.5);
        }
        .icon-image {
            width: 100%;
            margin: 15px auto;
            display: block;
            padding: 5px;
        }
        .sidebar-icon {
            display: block;
            position: relative;
            top: 15%;
        }
        .active {
            border-left: 6px solid #4eff00;
        }
        .left-col{
            width:calc(100% - 50px);
            float:right;
        }
        
        iframe {
                height: 100vh;
                width: 100%;
                border: none;
                overflow: hidden;
        }
    
        .chartScroll {
            white-space: nowrap;
            height: 82vh;
        }
    
        .menu-list {
            white-space: nowrap;
            height: 80vh;
        }
    
    
        @media screen and (max-height: 640px){
        .chartScroll {
            white-space: nowrap;
            height: 82vh;
        }
    
        .menu-list {
            white-space: nowrap;
            height: 80vh;
        }
    }
        @media screen and (max-height: 480px){
            .chartScroll {
                white-space: nowrap;
                height: 70vh;
            }
        
            .menu-list {
                white-space: nowrap;
                height: 65vh;
            }
        }
        
        .chart_list {
                margin-top: 50px;
        }
        
        .resize-btn, .icon.icon-md {
         font-size: 22px;
         color: #ffa500;
         font-weight: 700;
        }
        
        .chart_options img{
            height: 20px;
            width: 20px;
            float: left;
        }
        
        .card-content-ios {
          padding: 8px 10px 0px 15px;
          font-size: 1.4rem;
          line-height: 1.4;
        }
        
        .card-header-ios {
            padding: unset;
            font-size: 1.6rem;
            font-weight: 500;
            color: #333;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 10px;
        }   
    .zoom-select .range-icon {
            width:35px;
        }
        
        .chartScroll {
            margin-top: 60px;
        }
    
        .zoom-select {
            bottom:0px;
        }
        
        .view_menu {
            float: left;
            margin-left: 22px;
        }
        
        //chart option buttons 
        .button-dev{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-dev.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-found{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-found.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-interactive{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-interactive.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-body{ width: 26px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-body.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-mind{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-mind.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-mandala{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-mandala.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-data{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-data.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-dream{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-dream.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-material.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-resonance{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-res2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-notself{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-notself.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-orientation{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-orient.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-advanced{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-advanced.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-found1{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-found1.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-found2{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-found2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-chemistry{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-chemistry.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material1{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-circle1.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material2{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-circle2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material3{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-circle3.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material4{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-circle4.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .button-material5{ width: 25px; height:25px; display:inline-block; background-image: url(../assets/icons/btn-circle5.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        
        
        .full-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .body-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body1.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .mind-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .mandala-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body3.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .dream-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body4.png?v=1) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .info-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/body5.png?v=1) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .material-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/material.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .conn-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/conn.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .conn1-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/conn1.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .conn2-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/conn2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus1-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus1.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus2-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus2.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus3-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus3.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus4-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus4.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus5-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus5.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus6-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus6.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
        .sbus7-button{ margin-left: 5px;width: 20px; height:25px; display:inline-block; background-image: url(../assets/icons/sbus7.png) !important; background-size: cover !important; background-repeat: no-repeat !important;}
    }
    