<ion-header>

    <ion-navbar color="my_account_header">
        <ion-title>My Account</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <div>
        <h4>Account Information</h4>

        <ion-card>
            <ion-card-header>
                Membership Status:{{profile.membership}} Member
            </ion-card-header>
            <ion-card-content>
                <button button ion-button round color="secondary">Update Subscription</button>
            </ion-card-content>
        </ion-card>
    </div>
    <div>
        <h4>Change Password</h4>

        <ion-row>
            <ion-item>
                <ion-label>Password</ion-label>
                <ion-input type="password" placeholder="Enter Password" [(ngModel)]="password.newpassword" name="password"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label>Confirm Password</ion-label>
                <ion-input type="password" placeholder="Confirm new Password" [(ngModel)]="password.confirmpassword" name="password"></ion-input>
            </ion-item>
        </ion-row>
        <button button ion-button color="btn_update">Update</button>
    </div>

    <div>
        <h4> Profile Information </h4>
        <form (ngSubmit)="updateMyAccount()" #accountForm="ngForm">
            <ion-grid>
                <ion-row>
                    <ion-item>
                        <ion-label>First Name</ion-label>
                        <ion-input type="text" [(ngModel)]="profile.first_name" name="firstname"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>Last Name</ion-label>
                        <ion-input type="text" [(ngModel)]="profile.last_name" name="lastname"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>Email</ion-label>
                        <ion-input type="email" [(ngModel)]="profile.user_email" name="email"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>Username</ion-label>
                        <ion-input type="text" [(ngModel)]="profile.username" name="username"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row class="user-date">
                    <ion-item>
                        <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                            Birth Date
                        </ion-label>
                        <ion-datetime [(ngModel)]="profile.birth_date" name="birthDate" displayFormat="YYYY/MM/DD">
                        </ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="time"></ion-icon>Birth Time</ion-label>
                        <ion-datetime [(ngModel)]="profile.birth_time" name="birthTime" displayFormat="H:mm" pickerFormat="H mm">
                        </ion-datetime>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>Birth Country</ion-label>
                        <ion-input type="text" [(ngModel)]="profile.country" name="username"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>Birth Town/City</ion-label>
                        <ion-input type="text" [(ngModel)]="profile.city" name="username"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row class="submit" float-right>
                    <button ion-button color="danger" type="button" (click)="cancelUpdate()">Cancel</button>
                    <button button ion-button color="btn_update" type="submit" [disabled]="!accountForm.form.valid">Update</button>
                </ion-row>
            </ion-grid>
        </form>
    </div>



</ion-content>