<ion-header>

  <ion-navbar>
    <ion-title>Forgot your password?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="forget_password_email()" #forgetPassword="ngForm">
    <label> Enter your email to continue.</label>
    <ion-item class="my-item">
      <ion-input type="email" placeholder="Enter Email" name="email" [(ngModel)]="user_email" required></ion-input>
    </ion-item>

    <ion-col col-3>
      <button ion-button class="login-btn form-my-btn" type="submit" [disabled]="!forgetPassword.form.valid">Submit</button><br>
    </ion-col>
  </form>
</ion-content>