<ion-content padding>
  <ion-row>
    <ion-col col-12 class="logo">
      <img src="assets/images/gm-logo.png">
    </ion-col>
  </ion-row>

  <div class="login-box">
    <form (ngSubmit)="createAccount()" [formGroup]="register">
      <ion-row>
        <ion-col>
          <ion-list class="login-list">
            <ion-icon name="mail" class="email"></ion-icon>
            <ion-item [ngClass]="item1">
              <ion-input (change)="change()" [(ngModel)]="email" type="email" placeholder="Enter Your Email" formControlName="email" required
                (focusout)="checkEmailUser()" ionChange></ion-input>
            </ion-item>

            <ion-icon name="person" class="username"></ion-icon>
            <ion-item [ngClass]="item2">
              <ion-input (change)="change()" [(ngModel)]="username" type="text" placeholder="Create username" formControlName="username"
                required (focusout)="checkEmailUser()"></ion-input>
            </ion-item>

            <ion-icon name="person" class="firstname"></ion-icon>
            <ion-item [ngClass]="item3">
              <ion-input (change)="change()" [(ngModel)]="firstname" type="text" placeholder="Enter Firstname" formControlName="firstname"
                required></ion-input>
            </ion-item>
            <ion-icon name="person" class="lastname"></ion-icon>
            <ion-item [ngClass]="item4">
              <ion-input (change)="change()" [(ngModel)]="lastname" type="text" placeholder="Enter Lastname" formControlName="lastname"
                required></ion-input>
            </ion-item>
            <ion-icon name="lock" class="pass"></ion-icon>
            <ion-item [ngClass]="item5">
              <ion-input (change)="change()" [(ngModel)]="password" type="password" placeholder="Create Password" formControlName="password"
                required minlength="5"></ion-input>
            </ion-item>
            <!-- <ion-item no-lines *ngIf="( register.get('password').hasError('required') ) && register.get('password').touched"> -->

            <div class="error" *ngIf="register.get('password').hasError('required') && register.get('password').touched">
              Password is required
            </div>
            <div class="error" *ngIf="register.get('password').hasError('minlength') && register.get('password').touched">
              Password length must be greater than 5
            </div>
            <!-- </ion-item> -->
            <ion-icon name="lock" class="confirm_pass"></ion-icon>
            <ion-item [ngClass]="item6">
              <ion-input (change)="change()" [(ngModel)]="re_password" type="password" placeholder="Retype Password" formControlName="re_password"
                required></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( register.get('re_password').hasError('equalTo') || register.get('re_password').hasError('required') ) && register.get('re_password').touched">

              <div class="error" *ngIf="register.get('re_password').hasError('required') && register.get('re_password').touched">
                Confirm password is required
              </div>
              <div class="error" *ngIf="register.get('re_password').hasError('equalTo') && register.get('re_password').touched">
                Password Mismatch
              </div>
            </ion-item>
            <!-- <ion-item> -->

            <!-- <div class="g-recaptcha" data-sitekey="6Ld4NAcTAAAAAIEcx4Y4YNkujaWWy2t-C5ZSM-sh"></div> -->
            <!-- <re-captcha site_key="6Ld4NAcTAAAAAIEcx4Y4YNkujaWWy2t-C5ZSM-sh"></re-captcha> -->
            <!-- <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6Ld4NAcTAAAAAIEcx4Y4YNkujaWWy2t-C5ZSM-sh"></re-captcha> -->
            <!-- <div (setVerified)="setVerified($event)" siteKey="6Ld4NAcTAAAAAIEcx4Y4YNkujaWWy2t-C5ZSM-sh" theme='light'></div> -->
            <!-- </div> -->
            <!-- <script src="https://www.google.com/recaptcha/api.js?"></script> -->
            <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script> -->
            <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LeFjzwUAAAAAEmG4VeCoppG2Ldm__nFtJGVnt4F"></re-captcha> -->
            <!-- </ion-item> -->
          </ion-list>
          <ion-grid>
            <ion-row>

              <!-- <ion-col col-6>
                <button ion-button class="login-btn form-my-btn" (click)="create_account()">Sign Up</button>
                <br>
              </ion-col> -->
              <ion-col col-12>
                <div class="error" *ngIf=errorMsg>{{errorMsg}}.Please try Another
                </div>
                <div class="error" *ngIf="register.get('email').hasError('email') && register.get('email').touched">
                  Not Valid Email ID
                </div>
              </ion-col>
              <ion-col col-12>
                <button ion-button class="login-btn form-my-btn" type="submit" [disabled]="register.invalid">Sign Up</button>
                <br>
                <ion-col col-12 class="forgot-pass" (click)="go_back()">
                  <a href="#"> Already have an account? Login Now</a>
                </ion-col>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-6>
                <button ion-button block ion-button icon-left class="form-my-btn facebook">
                  <ion-icon name="logo-facebook"></ion-icon>facebook</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button block ion-button icon-left class="form-my-btn google">
                  <ion-icon name="logo-googleplus"></ion-icon>Google</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>