page-slide-show {
    // .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    // }
    .toolbar-title-md,.toolbar-title-ios{
        padding: 0px 15px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        white-space: unset;
    }
    // .button-md{
    //     font-weight: 100;
    //     height: 2.6rem;
    //     padding:0 10px;
    // }
}
