<ion-header>

  <ion-navbar>
    <ion-title>Welcome To Genetic Matrix </ion-title>
    <button ion-button float-right (click)="skip()">Skip</button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides pager="true" direction="horizontal">
    <ion-slide>
      <ion-img width="260px" height="469px" src="assets/screenshot/login.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="260px" height="469px" src="assets/screenshot/signup.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="260px" height="469px" src="assets/screenshot/chartview.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img width="236px" height="462px" src="assets/screenshot/addchart.png"></ion-img>
    </ion-slide>
  </ion-slides>

</ion-content>