
<ion-header>
  <ion-navbar>
    <ion-title>
      Hammer JS Example
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content (pinchin)="pinchevent($event)" (tap)="tapevent($event)">
  <div class="box" rotatecustom="" (anglechange)="onRotation($event)" [style.transform]="transformStyle"> 
<div class="label">
{{title}}</div>
</div>
{{eventDetails | json}}
</ion-content>
