<ion-content>
  <div>
    <form (ngSubmit)="checkCity()" #horseChartForm="ngForm">
      <ion-grid>
        <ion-row class="my-heading">
          <ion-col col-1>
            <img src="assets/images/animal_chart_horse_logo.png" class="left">
          </ion-col>
          <ion-col col-10>
            Create Animal Foundation Horse Chart
          </ion-col>
          <ion-col col-1>
            <img src="assets/images/animal_chart_horse_logo.png" class="right">
          </ion-col>
        </ion-row>
        <ion-row class="user-input">
          <ion-item>
            <ion-input type="text" name="animalName" [(ngModel)]="animalName" value="" placeholder="Horse's Name" required="required"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-input type="text" name="lastName" [(ngModel)]="lastName" value="" placeholder="Last Name" required="required"></ion-input>
          </ion-item> -->
        </ion-row>
        <ion-row class="user-date">
          <ion-item>
            <ion-label>
              <ion-icon name="calendar"></ion-icon>Birth Date</ion-label>
            <ion-datetime name="birthDate" [(ngModel)]="birthDate" displayFormat="YYYY/MM/DD" required="required">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="time"></ion-icon>Birth Time</ion-label>
            <ion-datetime name="birthTime" [(ngModel)]="birthTime" displayFormat="H:mm" pickerFormat="H mm" required="required">
            </ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row class="user-city">
          <ion-item>
            <ion-label>Country</ion-label>
            <ion-select name="country" [(ngModel)]="country" multiple="false" cancelText="cancel" okText="Okay!" required="required">
              <ion-option *ngFor="let country of countryList" [value]="country.code">{{country.country_title}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="city" [(ngModel)]="city" value="" placeholder="City/Town" required="required"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="majorCity" [(ngModel)]="majorCity" value="" placeholder="Nearest Major City" required="required"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="" float-right>
          <button ion-button color="danger" type="button" (click)="cancelCreate()">Cancel</button>
          <button ion-button color="secondary" type="submit" [disabled]="!animalName || !transitNow && (!birthDate ||!birthTime)">Ok</button>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>